<footer class="footer">
    <div class="flex flex-col items-end justify-center space-y-3 md:space-y-0">
        <div class="items-center text-sm">
            <div>© 2024, <i><b>Zen</b></i></div>
        </div>
    </div>
</footer>
<div id="about-modal" class="modal">
    <div class="modal-background --jb-modal-close"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title font-bold">About</p>
        </header>
        <section class="modal-card-body">
            <br>
            <p class="text-center">Aplikasi ini masih sangat banyak kekurangan. <br>
                Aplikasi ini dibuat untuk memenuhi tugas mata kuliah <b>Basis Data.</b></p>
            <div class="flex flex-row justify-center">
                <div>
                    <p class="font-semibold">Nama</p>
                    <p class="font-semibold">NIM</p>
                    <p class="font-semibold">Kelas</p>
                </div>
                <div>
                    <p>&nbsp; : &nbsp;</p>
                    <p>&nbsp; : &nbsp;</p>
                    <p>&nbsp; : &nbsp;</p>
                </div>
                <div>
                    <p>Anri</p>
                    <p>11220030</p>
                    <p>TI Sore 2022 (Semester 3) </p>
                </div>
            </div>
            <br>
            <p class="text-right text-sm pr-1"> <b>Source Code</b> available at <a href="https://github.com/zen-wistaria/rental-mobil" target="_blank" class="text-blue-500 font-semibold italic no-underline">Github</a></p>
            <!-- <table>
                <tbody>
                    <tr>
                        <th>Nama</th>
                        <td>&nbsp; : &nbsp;</td>
                        <td>Anri</td>
                    </tr>
                    <tr>
                        <th>NIM</th>
                        <td>&nbsp; : &nbsp;</td>
                        <td>11220030</td>
                    </tr>
                    <tr>
                        <th>Kelas</th>
                        <td>&nbsp; : &nbsp;</td>
                        <td>TI Sore 2022 (Semester 3)</td>
                    </tr>
                </tbody>
            </table> -->
        </section>
        <footer class="modal-card-foot">
            <button class="--jb-modal-close text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Tutup</button>
        </footer>
    </div>
</div>
