<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title><%= title %></title>

<link rel="stylesheet" href="/public/css/main.css" />
<link rel="stylesheet" href="/public/css/tailwind.css" />
<link rel="icon" type="image/png" sizes="32x32" href="/public/img/express.svg" />
<link rel="icon" type="image/png" sizes="16x16" href="/public/img/express.svg" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "UA-130795909-1");
</script> -->