<nav id="navbar-main" class="navbar is-fixed-top">
    <div class="navbar-brand">
        <a class="navbar-item mobile-aside-button">
            <span class="icon"><i class="mdi mdi-forwardburger mdi-24px"></i></span>
        </a>
        <div class="navbar-item">
            <div class="control">
                <input placeholder="Search everywhere..." class="input" />
            </div>
        </div>
    </div>
    <div class="navbar-brand is-right">
        <a class="navbar-item --jb-navbar-menu-toggle" data-target="navbar-menu">
            <span class="icon"><i class="mdi mdi-dots-vertical mdi-24px"></i></span>
        </a>
    </div>
    <div class="navbar-menu" id="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item dropdown has-divider has-user-avatar">
                <a class="navbar-link">
                    <div class="user-avatar">
                        <img src="https://avatars.dicebear.com/v2/initials/john-doe.svg" alt="John Doe" class="rounded-full" />
                    </div>
                    <div class="is-user-name">
                        <span><%= user?.nama %></span>
                    </div>
                    <span class="icon"><i class="mdi mdi-chevron-down"></i></span>
                </a>
                <div class="navbar-dropdown">
                    <a href="/admin/dashboard/profile" class="navbar-item">
                        <span class="icon"><i class="mdi mdi-account"></i></span>
                        <span>My Profile</span>
                    </a>
                    <a class="navbar-item">
                        <span class="icon"><i class="mdi mdi-settings"></i></span>
                        <span>Settings</span>
                    </a>
                    <a class="navbar-item">
                        <span class="icon"><i class="mdi mdi-email"></i></span>
                        <span>Messages</span>
                    </a>
                    <hr class="navbar-divider" />
                </div>
            </div>
            <a title="Log out" class="navbar-item" href="/logout">
                <span class="icon"><i class="mdi mdi-logout"></i></span>
                <span>Log out</span>
            </a>
        </div>
    </div>
</nav>

<aside class="aside is-placed-left is-expanded">
    <div class="aside-tools">
        <div>Rental <b class="font-black">Mobil</b></div>
    </div>
    <div class="menu is-menu-main">
        <p class="menu-label">General</p>
        <ul class="menu-list">
            <% if (path === "/" ) { %>
            <li class="active">
                <a href="/admin/dashboard">
                    <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
                    <span class="menu-item-label">Dashboard</span>
                </a>
            </li>
            <% } else { %>
            <li class="--set-active-tables-html">
                <a href="/admin/dashboard">
                    <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
                    <span class="menu-item-label">Dashboard</span>
                </a>
            </li>
            <% } %> >
        </ul>
        <p class="menu-label">Menu</p>
        <ul class="menu-list">
            <% if (path === "/admin/dashboard/profile" || path === "/admin/dashboard/profile/setting") { %>
            <li class="active">
                <a href="/admin/dashboard/profile">
                    <span class="icon"><i class="mdi mdi-account-circle"></i>
                    </span>
                    <span class="menu-item-label">Profil</span>
                </a>
            </li>
            <% } else { %>
            <li class="--set-active-tables-html">
                <a href="/admin/dashboard/profile">
                    <span class="icon"><i class="mdi mdi-account-circle"></i>
                    </span>
                    <span class="menu-item-label">Profil</span>
                </a>
            </li>
            <% } %>
            <% if (path === "/admin/dashboard/cars" || path ===
            "/admin/dashboard/cars/add") { %>
            <li class="active">
                <a href="/admin/dashboard/cars">
                    <span class="icon"><i class="mdi mdi-truck"></i></span>
                    <span class="menu-item-label">Mobil</span>
                </a>
            </li>
            <% } else { %>
            <li class="--set-active-tables-html">
                <a href="/admin/dashboard/cars">
                    <span class="icon"><i class="mdi mdi-truck"></i></span>
                    <span class="menu-item-label">Mobil</span>
                </a>
            </li>
            <% } %>
            <% if (path === "/admin/dashboard/clients" ) { %>
            <li class="active">
                <a href="/admin/dashboard/clients">
                    <span class="icon"><i class="mdi mdi-account-multiple"></i>
                    </span>
                    <span class="menu-item-label">Pelanggan</span>
                </a>
            </li>
            <% } else { %>
            <li class="--set-active-tables-html">
                <a href="/admin/dashboard/clients">
                    <span class="icon"><i class="mdi mdi-account-multiple"></i>
                    </span>
                    <span class="menu-item-label">Pelanggan</span>
                </a>
            </li>
            <% } %>
            <% if (path === "/admin/dashboard/booking" ) { %>
            <li class="active">
                <a href="/admin/dashboard/booking">
                    <span class="icon"><i class="mdi mdi-clipboard-check"></i>
                    </span>
                    <span class="menu-item-label">Booking</span>
                </a>
            </li>
            <% } else { %>
            <li class="--set-active-tables-html">
                <a href="/admin/dashboard/booking">
                    <span class="icon"><i class="mdi mdi-clipboard-check"></i>
                    </span>
                    <span class="menu-item-label">Booking</span>
                </a>
            </li>
            <% } %>
            <% if (path === "/admin/dashboard/transactions" ) { %>
            <li class="active">
                <a href="/admin/dashboard/transactions">
                    <span class="icon"><i class="mdi mdi-clipboard-flow"></i>
                    </span>
                    <span class="menu-item-label">Transaksi</span>
                </a>
            </li>
            <% } else { %>
            <li class="--set-active-tables-html">
                <a href="/admin/dashboard/transactions">
                    <span class="icon"><i class="mdi mdi-clipboard-flow"></i>
                    </span>
                    <span class="menu-item-label">Transaksi</span>
                </a>
            </li>
            <% } %>
        </ul>
        <p class="menu-label">About</p>
        <ul class="menu-list">
            <li>
                <a href="https://justboil.me/tailwind-admin-templates/free-dashboard/" class="has-icon">
                    <span class="icon"><i class="mdi mdi-help-circle"></i></span>
                    <span class="menu-item-label">About</span>
                </a>
            </li>
            <li>
                <a href="https://github.com/justboil/admin-one-tailwind" class="has-icon">
                    <span class="icon"><i class="mdi mdi-github-circle"></i></span>
                    <span class="menu-item-label">GitHub</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
<section class="is-title-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <ul>
            <li>Admin</li>
            <li><%= title_page %></li>
        </ul>
    </div>
</section>