<footer class="footer">
    <div class="flex flex-col items-end justify-center space-y-3 md:space-y-0">
        <div class="items-center text-sm">
            <div>© 2024, <i><b>Zen</b></i></div>
        </div>
    </div>
</footer>