<nav id="navbar-main" class="navbar is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item mobile-aside-button">
      <span class="icon"><i class="mdi mdi-forwardburger mdi-24px"></i></span>
    </a>
    <div class="navbar-item">
      <div class="control">
        <input placeholder="Search everywhere..." class="input" />
      </div>
    </div>
  </div>
  <div class="navbar-brand is-right">
    <a class="navbar-item --jb-navbar-menu-toggle" data-target="navbar-menu">
      <span class="icon"><i class="mdi mdi-dots-vertical mdi-24px"></i></span>
    </a>
  </div>
  <div class="navbar-menu" id="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item dropdown has-divider has-user-avatar">
        <a class="navbar-link">
          <div class="user-avatar">
            <img
              src="https://avatars.dicebear.com/v2/initials/john-doe.svg"
              alt="John Doe"
              class="rounded-full"
            />
          </div>
          <div class="is-user-name"><span><%= user?.nama %></span></div>
          <span class="icon"><i class="mdi mdi-chevron-down"></i></span>
        </a>
        <div class="navbar-dropdown">
          <a href="/profile" class="navbar-item">
            <span class="icon"><i class="mdi mdi-account"></i></span>
            <span>My Profile</span>
          </a>
          <a class="navbar-item">
            <span class="icon"><i class="mdi mdi-settings"></i></span>
            <span>Settings</span>
          </a>
          <a class="navbar-item">
            <span class="icon"><i class="mdi mdi-email"></i></span>
            <span>Messages</span>
          </a>
          <hr class="navbar-divider" />
        </div>
      </div>
        <a title="Log out" class="navbar-item " href="/logout">
          <span class="icon"><i class="mdi mdi-logout"></i></span>
          <span>Log out</span>
        </a>

    </div>
  </div>
</nav>

<aside class="aside is-placed-left is-expanded">
  <div class="aside-tools">
    <div>Admin <b class="font-black">One</b></div>
  </div>
  <div class="menu is-menu-main">
    <p class="menu-label">General</p>
    <ul class="menu-list">
      <li <% if (path === "/" ) { %>
        class="active" <% } else { %> class="--set-active-tables-html" <% } %> >
        <a href="/">
          <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
          <span class="menu-item-label">Dashboard</span>
        </a>
      </li>
    </ul>
    <p class="menu-label">Examples</p>
    <ul class="menu-list">
      <li <% if (path === "/cars" || path === "/cars/add") { %>
        class="active" <% } else { %> class="--set-active-tables-html" <% } %> >
        <a href="/cars">
          <span class="icon"><i class="mdi mdi-table"></i></span>
          <span class="menu-item-label">Mobil</span>
        </a>
      </li>
      <li <% if (path === "/booking" ) { %>
        class="active" <% } else { %> class="--set-active-tables-html" <% } %> >
        <a href="/booking">
          <span class="icon"><i class="mdi mdi-square-edit-outline"></i></span>
          <span class="menu-item-label">Booking</span>
        </a>
      </li>
      <li <% if (path === "/profile" ) { %>
        class="active" <% } else { %> class="--set-active-tables-html" <% } %> >
        <a href="/profile">
          <span class="icon"><i class="mdi mdi-account-circle"></i></span>
          <span class="menu-item-label">Profile</span>
        </a>
      </li>
      <li>
        <a href="/login">
          <span class="icon"><i class="mdi mdi-lock"></i></span>
          <span class="menu-item-label">Login</span>
        </a>
      </li>
      <li>
        <a class="dropdown">
          <span class="icon"><i class="mdi mdi-view-list"></i></span>
          <span class="menu-item-label">Submenus</span>
          <span class="icon"><i class="mdi mdi-plus"></i></span>
        </a>
        <ul>
          <li>
            <a href="#void">
              <span>Sub-item One</span>
            </a>
          </li>
          <li>
            <a href="#void">
              <span>Sub-item Two</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <p class="menu-label">About</p>
    <ul class="menu-list">
      <li>
        <a
          href="https://justboil.me/tailwind-admin-templates/free-dashboard/"
          class="has-icon"
        >
          <span class="icon"><i class="mdi mdi-help-circle"></i></span>
          <span class="menu-item-label">About</span>
        </a>
      </li>
      <li>
        <a
          href="https://github.com/justboil/admin-one-tailwind"
          class="has-icon"
        >
          <span class="icon"><i class="mdi mdi-github-circle"></i></span>
          <span class="menu-item-label">GitHub</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
<section class="is-title-bar">
  <div
    class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0"
  >
    <ul>
      <li>Pelanggan</li>
      <li><%= title_page %></li>
    </ul>
  </div>
</section>
