<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/public/css/tailwind.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="/public/img/express.svg" color="#fff" />
    <link rel="icon" type="image/png" sizes="16x16" href="/public/img/express.svg" color="#fff" />
</head>

<body>
    <div class="h-screen">
        <div class="w-full h-full bg-black flex justify-center items-center flex-col">
            <div class="flex justify-center items-center">
                <h1 class="text-white font-bold text-2xl">Error 500</h1>
                <p class="text-white mx-4 text-3xl">|</p>
                <p class="text-white text-md">Server Error</p>
            </div>
            <div class="mx-auto mt-10">
                <button class="bg-white hover:bg-slate-200 text-black font-bold py-2 px-4 rounded-lg text-sm" onclick="javascript:location.reload()">Refresh</button>
            </div>
        </div>
    </div>
</body>

</html>