<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Server Error</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #ffffff;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        color: #696969;
        margin: 0;
      }

      .centered-content {
        text-align: center;
      }

      h1 {
        font-size: 72px;
        /* margin-bottom: 20px; */
      }

      p {
        font-size: 20px;
        font-style: italic;
        margin-top: -60px;
        margin-bottom: 40px;
        display: block;
      }

      a {
        color: #007bff;
        text-decoration: none;
        margin-top: 20px;
        display: block;
      }
    </style>
  </head>
  <body>
    <div class="centered-content">
      <h1>Error 500</h1>
      <p>Server Error</p>
      <a href="/admin/dashboard">Refresh</a>
    </div>
  </body>
</html>
