<footer class="footer">
  <div
    class="flex flex-col md:flex-row items-center justify-center space-y-3 md:space-y-0"
  >
    <div class="items-center">
      <div>© 2024, Zen</div>
    </div>
  </div>
</footer>
